
<main class="main main-dashboard wrapper py-section">
  <!-- Mixes for You -->
  <app-section-slider [content]="recomendForYou"></app-section-slider>
  
  <!-- Los mas Escuchados -->
  <app-section-slider [content]="MostSongYou"></app-section-slider>

</main>