<div class="border-animated">
  <div class="bar bar__top"></div>
  <div class="bar bar__right bar__delay"></div>
  <div class="bar bar__bottom bar__delay"></div>
  <div class="bar bar__left"></div>
</div>
