@use '/src/styles/_vars' as _var;

.border-animated {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  .bar {
    position: absolute;
    width: 5rem;
    height: .2rem;
    background: _var.$brand-primary;
    transition: all 1s linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    z-index: 10;
    &__delay { animation-delay: .6s;  }
    &__top { 
      top: 0rem; 
      left: -3rem;
      animation-name: h-move; 
    }
    &__right {
      top: -3rem;
      right: -2.25rem;
      transform: rotate(90deg);
      animation-name: v-move;
    }
    &__bottom {
      bottom: .15rem;
      left: -2.25rem;
      animation-name: h-move;
    }
    &__left {
      top: -3rem;
      left: -2.25rem;
      transform: rotate(90deg);
      animation-name: v-move;
    }
  }
}


@keyframes h-move {
  0% { left: -3rem; }
  100% { left: calc(100% + 3rem); }
}

@keyframes v-move {
  0% { top: -3rem; }
  100% {top: calc(100% + 3rem); }
}
