<main class="main main-dashboard wrapper py-section">
  <!-- Show section card user profile -->
  <app-user-profile></app-user-profile>
  <!-- Section Grid Favs Track Component -->
  <app-section-grid [content]="favsTrackYou"></app-section-grid>
</main>
