@use '/src/styles/_vars' as _var;

.figure-user-profile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    aspect-ratio: 1/1;
    max-width: 140px;
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 4px solid _var.$brand-primary;
    @media screen and (max-width:_var.$md) {
      max-width: 110px;
      width: 80%;
      margin-bottom: 10px;
    }
  }
}
.card-profile-article {
  background-color: _var.$brand-accent;
  border-radius: 10px;
  max-width: 520px;
  @media screen and (max-width:_var.$md) {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    * {
      text-align: center;
    }
  }
}