<section class="w-11 lg:w-10 mx-auto my-3 pb-3 p-3 lg:p-0 lg:pb-4 ">
  <article class="card-profile-article grid grid-nogutter px-3 py-2 lg:p-3">
    <div class="col-12 sm:col-4 lg:col-4 flex align-items-center justify-content-center">
      <app-figure-image [image]="imageUser"></app-figure-image>
    </div>
    <div  class="col-12 sm:col-8 lg:col-7 lg:col-offset-1 flex align-items-center md:align-items-start flex-column justify-content-center ">
      <h3 class="py-1 mx-1">{{ user?.display_name }}</h3>
      <p  class="py-1 mx-1"> {{ user?.followers?.total }} Followers</p>
      <a  class="btn btn__secondary py-1 my-2 inline-block w-auto" 
          target="_blank"
          href="https://open.spotify.com/user/{{ user?.id }}" 
          title="{{ user?.display_name }}">Ver Perfil</a>
    </div>
  </article>
</section>