@use '/src/styles/_vars' as _var;

.main-login {
  background-color: _var.$brand-secondary;
  min-height: 100vh;
  padding: .2rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.figure-form {
  &__image {
    filter: invert(1);
    user-select: none;
    max-width: 320px;
    @media screen and (max-width:_var.$lg){
      width: 90%;
      max-width: 320px;
      margin: 0 5%;
    }
  }
}

.figure-app{
  overflow: hidden;
  &__image {
    user-select: none;
    width: 100%;
    height: 100%;
    min-height: calc( 100vh - .8rem);
    margin: auto;
    object-fit: cover;
    object-position:  center;
    transition: filter 1s ease-in-out, transform .8s ease-in-out;
    &:hover {
      filter: hue-rotate(45deg);
      transform: scale(1.01) rotate(.5deg);
    }
    @media screen and (max-width: _var.$lg) {
      object-position: center center;
      min-height: 25vh;
    }
  }
}