<main class="main-login grid grid-nogutter">
  <app-border-animated></app-border-animated>

  <section class="hidden section-image col-12 lg:col-6 lg:flex">
    <app-figure-image [image]="bg_login"></app-figure-image>
  </section>

  <section class="section-form col-12 lg:col-6 center-all">
    <article class="article-login flex flex-column align-items-center">
      <app-figure-image class="mb-8 lg:mb-5" [image]="musicapp_large"></app-figure-image>
      <button type="button"
              (click)="loginWithSpotify()"
              [ngClass]="{
                'article-login__btn btn btn__secondary': true,
                'cursor-wait btn__disabled': runLoading
              }"
              [disabled]="runLoading">
              Iniciar Sesión
      </button>
    </article>
  </section>

</main>