@use './vars' as _var;

/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: _var.$brand-secondary;
}

.wrapper {
  min-height: 90vh;
}

 /* width */
::-webkit-scrollbar {
  width: 15px;
  background: _var.$brand-secondary;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: _var.$brand-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: _var.$brand-primary; 
  border-radius: 10px;
  border: 4px solid _var.$brand-secondary;
  &:hover {
    background: rgba($color:  _var.$brand-primary, $alpha: .1);
    border: 2px solid _var.$brand-primary;
  }
}

*, .format-text {
  font-family:  _var.$font-body;
  font-style:   normal;
  font-weight:  400;
  font-size:    18px;
  line-height:  25px;
  &.text-bold {
    @extend .format-text;
    font-style:   normal;
    font-weight:  700;
  }
  &.text-italic {
    @extend .format-text;
    font-style:   italic;
    font-weight:  400;
  }
  &.text-p2 {
    @extend .format-text;
    font-size: 16px;
    line-height: 24px;
  }
  &.text-p3 {
    @extend .format-text;
    font-size: 14px;
    line-height: 22px;
  }
  &.caption-regular {
    @extend .format-text;
    font-size: 12px;
    line-height: 18px;
  }
}

h6, .title-h6 {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   18px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   18px;
    line-height: 28px;
  }
}

h5, .title-h5 {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   20px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   16px;
    line-height: 25px;
  }
}

h4, .title-h4 {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   24px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   18px;
    line-height: 28px;
  }
}

h3, .title-h3 {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   28px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   22px;
    line-height: 24px;
  }
}

h2, .title-h2  {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   38px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   28px;
    line-height: 31px;
  }
}

h1, .title-h1 {
  font-family: _var.$font-title;
  font-style:  normal;
  font-weight: 400;
  font-size:   48px;
  line-height: 100%;
  @media (max-width: 992px) {
    font-size:   28px;
    line-height: 31px;
  }
}

.hero-title {
  font-family: _var.$font-hero;
  font-style:  normal;
  font-weight: 400;
  font-size:   80px;
  line-height: 100%;
  @media (max-width: 992px) { 
    font-size:   38px;
    line-height: 40px;
  }
}

.btn {
  @include _var.styleclass('transition-colors transition-transform transition-duration-500 border-2 border-round-sm cursor-pointer uppercase p-3 w-11 lg:w-auto');
  background-color: _var.$brand-primary;
  color: _var.$white;
  border-color: transparent;
  &:hover {
    @include _var.styleclass('shadow-8');
    background-color: _var.$brand_secondary;
    color: _var.$white;
    transform: translateY(-2px);
  }
  &__secondary {
    background-color: transparent;
    border-color: _var.$brand-primary;
    color: _var.$brand-primary;
    &:hover {
      background-color: _var.$brand-primary;
      color: _var.$white;
    }
  }
  &__disabled, &__disabled:hover {
    background-color: _var.$brand-accent;
    border-color: _var.$brand-secondary;
    color: _var.$brand-secondary;
  }
}

.center-all {
  @include _var.styleclass('flex justify-content-center align-content-center flex-wrap');
}

.py-section {
  padding: 1.5em 0;
  @media screen and (max-width: _var.$lg) {
    padding: 1.5em 0;
  }
}

