/* Google Fonts Monoton, Rubik, Russo One */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;700&family=Russo+One&display=swap');

/* Prime Flex */
@import 'primeflex/primeflex.scss';

/* Brand colors */
$brand-primary :  #1DB954;
$brand-secondary :#120e0e;
$brand-accent :   #212121;
$white:           #ffffff;
$black:           #000000;

/* Brand Fonst */
$font-title:  'Russo One', sans-serif;
$font-hero:   'Monoton', cursive;
$font-body:   'Rubik', sans-serif;
