<section class="grid grid-nogutter w-11 lg:w-10 m-auto py-section pt-0" *ngIf="content">
  <header class="col-12 flex justify-content-between align-items-center">
    <h2 class="title-h2 p-2 lg:p-0">{{ content.title }}</h2>
  </header>

  <div class="col-12">
    <app-grid-cards [dataGrid]="content.data"></app-grid-cards>
  </div>

</section>