<div class="grid-cards-track grid grid-nogutter flex justify-content-center" *ngIf="dataGrid">
  <div class="col-6 md:col-4 lg:col-3" *ngFor="let track of dataGrid">
    <app-card-track [track]="track"></app-card-track>
  </div>
</div>