@use '/src/styles/_vars' as _var;

.card-track {
  padding: .8em;
  margin: 1.5em 0 3em 5px;
  background-color: _var.$brand-accent;
  max-width: 250px;
  transition: .4s ease-in-out;
  cursor: pointer;
  position: relative;
  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em auto .5em auto;
    @media screen and (max-width: _var.$lg) {
      font-size: .9em;
      margin: .2em 0;
    }
  }
  &__album {
    opacity: .7;
    font-size: .7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .picture-card {
    &__image {
      width: 100%;
      height: auto;
      min-height: 230px;
      max-width: 230px;
      object-fit: cover;
      object-position: center;
      @media screen and (max-width: _var.$md) {
        min-height: 120px;
        margin-bottom: 10px;
      }
    }
    transition: .4s ease-in-out;
    text-align: center;
  }
  &:hover {
    padding-top: 0;
    margin-top: 2em;
    filter: contrast(0.9);
    .picture-card {
      transform: translateY(-.75em);
    }
    .card-track__title {
      color: _var.$brand-primary;
    }
  }
  @media screen and (max-width: _var.$lg) {
    max-width: 96%;
    margin: 1.5em auto 3em auto;
  }
  .button-fav {
    background-color: _var.$brand-accent;
    border: 2px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1.2em;
    top: 60%;
    transform: translateY(-120%);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    z-index: 10;
    text-align: center;
    .bx {
      transform: translateY(2px);
      font-size: 1.3em;
      user-select: none;
      color: _var.$brand-primary;
    }
    &:hover {
      border: 2px solid _var.$brand-primary;
    }
    @media screen and (max-width: _var.$md) {
      width: 30px;
      height: 30px;
      top: 75%;
      right: .8em;
      .bx {
        font-size: .8em;
      }
    }
  }
}