<article class="card-track" *ngIf="track">
  <a target="_blank" rel="noopener noreferrer card-track__link" 
    href="{{ track.external_urls.spotify }}"
    title="{{ track.name }}">
    <app-figure-image [image]="getImageTrack()"></app-figure-image>
    <h3 class="card-track__title">{{ track.name }}</h3>
    <p class="card-track__album">{{ getArtistNames() }}</p>
  </a>
  <button class="button-fav"
          (click)="onFavoriteClick()"
          title="{{ !isFavorite ? 'Agregar a ' : 'Eliminar de' }} favoritos">
    <i class="bx bx-heart  {{ !isFavorite  ? '' : 'hidden' }} "></i>
    <i class="bx bxs-heart {{ !isFavorite  ? 'hidden' : '' }} "></i>
  </button>
  <audio controls="controls" class="w-full mt-2 hidden md:block">
    <source src="{{ track.preview_url }}" type="audio/mpeg"/>
  </audio>
  <!-- {{ track.preview_url }} -->
</article>
