<div class="splide-slider" *ngIf="dataSlider">
  <splide [options]="optionSlide">
    <splide-slide *ngFor="let track of dataSlider">
      <app-card-track [track]="track"></app-card-track>
    </splide-slide>
  </splide>
</div>