<footer class="footer">
  <section class="footer__conatiner  grid grid-nogutter w-12 lg:w-9 m-auto ">
    <div class="col-12 lg:col-6 text-center lg:text-left copy">
      <p class="copy__author">Author: Fernando Jaramillo</p>
    </div>
    <div class="col-12 lg:col-6 text-center lg:text-right copy">
      <p class="copy__licence">Power by: Spotify API</p>
    </div>
  </section>
</footer>
