@use '/src/styles/_vars' as _var;

.footer {
  padding: 1em 0;
  @media screen and (max-width: _var.$md) {
    padding-bottom: 70px;
  }
}
.copy {
  &__author, &__licence {
    opacity: .7;
    font-size: .8em;
    user-select: none;
    @media screen and (max-width: _var.$md) {
      font-size: .6em;
    }
  }
}