@use '/src/styles/_vars' as _var;

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  padding: 0;
  top: 0;
  margin: auto;
  list-style: none;
  @media screen and (max-width: _var.$lg) {
    margin: auto;
    width: 100%;
  }
}

.nav-link {
  cursor: pointer;
  border: 2px solid transparent;
  padding: .5em 1em;
  display: inline-flex;
  &__label {
    color: rgba($color: _var.$white, $alpha: .4);
  }
  &__icon {
    transform: translateY(3px);
    color: rgba($color: _var.$white, $alpha: .4);
    margin-left: 5px;
    @media screen and (max-width: _var.$md) {
      margin-left: 0;
    }
  }
  &__active {
    border-bottom: 2px solid _var.$brand-primary;
    .nav-link__label, .nav-link__icon {
      color: _var.$brand-primary;
    }
  }
  &:hover {
    border-bottom: 2px solid _var.$brand-primary;
    .nav-link__label, .nav-link__icon {
      color: _var.$brand-primary;
    }
  }
  @media screen and (max-width: _var.$md) {
    padding: .5em;
    padding-top: 0;
    justify-content: center;
    &__label {
      display: none;
    }
  }
}