<ul class="nav">
  <li class="nav__item" *ngFor="let item of primaryMenu">
    <a  [routerLink]="item.router" 
        routerLinkActive="nav-link__active"
        [routerLinkActiveOptions]="{exact: true}"
        title="{{ item.label }}"
        class="nav-link">
      <span class="nav-link__label">{{ item.label }}</span>
      <i class='nav-link__icon {{ item.icon }}'></i>
    </a>
  </li>
</ul>
