<main class="main main-dashboard wrapper py-section">
  <section class="search-form grid grid-nogutter flex justify-content-center py-section">
    <div class="col-11 lg:col-10">
      <app-input-search [form]="queryForm" (onSubmit)="onSubmit()"></app-input-search>
    </div>
  </section>

  <section class="py-section grid grid-nogutter flex justify-content-center" *ngIf="dataGrid && dataGrid.data">
    <div class="col-11 lg:col-10">
      <ng-container *ngIf="dataGrid && dataGrid.data">
        <app-section-grid [content]="dataGrid"></app-section-grid>
      </ng-container>
    </div>
  </section>


  <!-- Escuchados Recientemente -->
  <app-section-slider [content]="dataGridCurrentyQuery" *ngIf="dataGridCurrentyQuery.data.length > 0">
  </app-section-slider>

</main>