@use '/src/styles/_vars' as _var;

.navbar {
  padding: .5em;
  position: sticky ;
  top: 0;
  background-color: _var.$brand-accent;
  z-index: 99;
  @media screen and (max-width: _var.$md) {
    top: initial;
    bottom: 0;
    position: fixed ;
    width: 100%;
    left: 0;
    height: auto;
  }
}

.figure-brand__image {
  max-width: 320px;
  filter: invert(1);
  opacity: .5;
  @media screen and (max-width: _var.$lg) {
    max-width: 80%;
  }
}

.figure-user {
  &__image {
    width: 102%;
    height: auto;
    margin: auto;
    object-fit: cover;
    object-position: center;
  }
}

.btn-user {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  @media screen and (max-width: _var.$lg) {
    width: 40px !important;
    height: 40px;
  }
}

.showMenu {
  .user-menu {
    display: inline-flex !important;
  }
}