<nav class="navbar grid grid-nogutter flex justify-content-center align-items-center">
  <app-figure-image [image]="imageBrand" class="hidden lg:flex lg:col-2"></app-figure-image>
  <app-navbar-menu class="col-8 lg:col-8"></app-navbar-menu>
  <button class="btn-user col-2 col-offset-2 lg:col-offset-0 lg:col-2"
          title="{{ user?.display_name }}"
          (click)="showMenuUSer()">
    <app-figure-image [image]="imageUser"></app-figure-image>
  </button>
  <app-user-menu [ngClass]="{ 'showMenu' : menuUSer}"></app-user-menu>
</nav>
