@use '/src/styles/_vars' as _var;

.form-search {
  text-align: center;
  .input {
    height: 50px;
    width: 65%;
    border-radius: 10px;
    padding: 5px 15px;
    border: 4px solid transparent;
    color: black;
    font-size: 1.2rem;
    &:active, &:focus, &:hover {
      outline: none;
      border: 4px solid _var.$brand-primary;
    }
    @media screen and (max-width: _var.$md) {
      width: 96%;
      margin-left: 2%;
    }
  }
  
}
