<div class="section-user-menu">
  <ul class="user-menu">
    <li class="user-menu__item">
      <a class="user-menu__link">
        Info <i class='user-menu__icon bx bx-info-circle' ></i>
      </a>
    </li>
    <li class="user-menu__item">
      <a class="user-menu__link user-menu__link--logout" (click)="logout()">
        Salir  <i class='user-menu__icon bx bx-log-out'></i>
      </a>
    </li>
  </ul>
</div>
