@use '/src/styles/_vars' as _var;

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 7.5%;
  transform: translateY(100%);
  display: none;
  flex-direction: column;
  @media screen and (max-width: _var.$md) {
    width: 100%;
    right: 0;
    box-shadow: none;
    flex-direction: row;
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
  }
  &__item {
    @media screen and (max-width: _var.$md) {
      display: flex;
      width: 50%;
    }
  }
  &__link{
    padding: .7em 1em;
    background-color: _var.$brand-accent;;
    display: inline-block;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
      background-color: _var.$brand-primary;
    }
    &--logout {
      background-color: red;
      &:hover {
        background-color: rgb(172, 15, 15);
      }
    }
    @media screen and (max-width: _var.$md) {
      min-width: initial;
      width: 100%;
      font-size: .8em;
    }
  }
  &__icon{
    transform: translateY(3px);
    margin-left: 3px;
  }
}